{{ block "login" .}}
{{ template "start" . }}
<div class="">
    <div class="flex flex-col items-center justify-center h-full">
        <div class="min-w-[345px] min-h-[485px] bg-white rounded-md shaddow-lg p-[34px]">
            {{ template "pageHeader" . }}
            <form method="POST" class="flex flex-col justify-between mt-3 space-y-4">
                {{ $length := len .Error }}
                <div class="flex flex-col">
                    <label for="username-field">Username</label>
                    <input type="text" autocomplete="username" id="username-field" name="username" required placeholder="Username" class="py-[10px] px-2 rounded-sm bg-slate-100 {{ if gt $length 0 }}ring ring-red-500{{ end }} " />
                </div>
                <div class="flex flex-col">
                    <label for="password-field">Password</label>
                    <input type="password" autocomplete="current-password" id="password-field" name="password" required placeholder="Password" class="py-[10px] px-2 rounded-sm bg-slate-100 {{ if gt $length 0 }}ring ring-red-500{{ end }}" />
                </div>
                {{ if gt $length 0 }}
                    <p class="text-red-500 py-2">{{ .Error }}</p>
                {{ end }}
                <input type="submit" value="Login" class="mt-5 px-4 py-2 bg-blue-500 text-white rounded-md" />
                {{ if .EnableRegistration }}
                    <a href="/v1/oidc/{{ .RealmName }}/register" class="mt-5 px-4 py-2 bg-blue-500 text-white rounded-md text-center">Register</a>
                {{ end }}
            </form>
        </div>
        {{template "footer" .}}
    </div>
</div>
{{ end }}