{{ block "error" . }}
{{ template "start" . }}
<div class="">
    <div class="flex flex-col items-center justify-center h-full">
        <div class="min-w-[345px] min-h-[485px] bg-white rounded-md shaddow-lg p-[34px]">
            {{ template "pageHeader" . }}
            <div class="text-center text-lg">
                <h3>Error {{ .StatusCode }}</h3>
                <p class="text-sm mt-2">{{ .Error }}</p>
            </div>
        </div>
        {{template "footer" .}}
    </div>
</div>
{{ template "end" . }}
{{ end }}