{{ define "start" }}
<html>
    {{template "head" .}}
    <body class="bg-slate-300">
        <div id="main_container">
{{ end }}
{{ define "end" }}
        </div>
    </body>
</html>
{{ end }}

{{ define "head" }}
<head>
    <title>AuthMantle / {{ .PageMeta.PageTitle }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
</head>
{{ end }}

{{ define "footer" }}
<footer class="bg-slate-300 text-white text-center font-bold py-4">
    <p>&copy; 2024 Dudde.com</p>
</footer>
{{ end }}

{{ define "pageHeader" }}
<h1 class="text-4xl font-bold text-center">AuthMantle</h1>
<p class="text-center italic text-xs mt-1 mb-5">Configurable SSO Service</p>
{{ end }}