{{ block "register" .}}
<html>
    {{template "head" .}}
    <body class="bg-slate-300">
        <div id="main_container">
            <div class="">
                <div class="flex flex-col items-center justify-center h-full">
                    <div class="min-w-[345px] min-h-[485px] bg-white rounded-md shaddow-lg p-[34px]">
                        {{ template "pageHeader" . }}
                        <form hx-post="/api/hello" class="flex flex-col justify-between mt-3 space-y-4">
                            <div class="flex flex-col">
                                <label for="username">Username</label>
                                <input type="text" name="username" placeholder="Username" class="py-[10px] px-2 rounded-sm bg-slate-100" />
                            </div>
                            <div class="flex flex-col">
                                <label for="email">Email</label>
                                <input type="text" name="email" placeholder="Email" class="py-[10px] px-2 rounded-sm bg-slate-100" />
                            </div>
                            <div class="flex flex-col">
                                <label for="country_select">Country</label>
                                <select name="country" id="country_select" class="py-[10px] px-2 rounded-sm bg-slate-100">
                                    <option value="">Select Country</option>
                                    <!-- loop through an array of country objects from a golang array -->
                                    {{ range .Countries }}
                                        <option value="{{ .Id }}">{{ .CountryName }}</option>
                                    {{ end }}
                                </select>
                            </div>
                            <div class="flex flex-col">
                                <label for="phone">Phone number</label>
                                <input type="tel" name="phone" placeholder="Phone number" class="py-[10px] px-2 rounded-sm bg-slate-100" />
                            </div>
                            <div class="flex flex-col">
                                <label for="password">Password</label>
                                <input type="password" name="password" placeholder="Password" class="py-[10px] px-2 rounded-sm bg-slate-100" />
                            </div>
                            <div class="flex flex-col">
                                <label for="retypePassword">Retype Password</label>
                                <input type="password" name="retypePassword" placeholder="Password" class="py-[10px] px-2 rounded-sm bg-slate-100" />
                            </div>
                            <input type="submit" value="Register" class="mt-5 px-4 py-2 bg-blue-500 text-white rounded-md" />
                        </form>
                    </div>
                    {{template "footer" .}}
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}